# URL to the Rancher API.  Was the path displayed when you create an API Token
rancher_api_url = "https://your-cluster/v3"

# Full API Token Provided.  You can also specify client key, secret key seperately.  See Terraform provider documentation for more details
rancher_api_token = "api-token-provided-by-rancher-goes-here"
  
# Values for your service princpal.  See https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal for details on creating an azure service princpal
azure_service_principal = {
      client_id = "client-id-goes-here"
      client_secret = "client-secret/password-goes-here"
      subscription_id = "subscription-guid-goes-here"
      tenant_id = "tenant-guid-goes-here"
      environment = "public"
}

# Region to where the platform will be built
azure_region = "East US"

# Resource group to use / create
azure_resource_group = "my-rg"


# Node Size for the Windows Nodes
windows_node_vm_size = "Standard_DS2_v2"

# Username created for windows server nodes
administrator_username = "yourUsername"

# Password for Windows Server Nodes (DONT CHECK THIS INTO SOURCE CONTROL)
administrator_password = "yourPasswordAzureLikes12+chars"

# SSH Public Key = "yourPublicKey"
administrator_ssh

# SSH Private Key
administrator_ssh_keypath = "path to your private key"

# Number of Control Plane (master) Nodes to create
control_plane_count = 1
  
# Number of etcd nodes to create
etcd_count = 1
  
# Number of linux worker nodes (minions) to create
worker_count = 1

# Number of Windows workder nodes (minions) to create
windows_count = 1
